* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/***************************/
/*REUSABLE*/
/***************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2--colmn {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--colmn {
  grid-template-columns: repeat(3, 1fr);
}

.grid--cetner--v {
  align-items: center;
}

.heading-one,
.heading-two,
.heading-three {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-one {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-two {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-three {
  font-size: 3.0rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn--full:link, .btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link, .btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover, .btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bttom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/***************************/
        /*HEADER*/
/***************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/***************************/
        /*Navigation*/
/***************************/

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 3.2rem;
}

.nav-link:link, 
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.nav-link:hover, .nav-link:active {
  color: #cf711f;
}

.nav-link.nav-cta:link, 
.nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.nav-link.nav-cta:hover, 
.nav-link.nav-cta:active {
  background-color: #cf711f;
}

.mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.mobile-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.mobile-icon[name="close-outline"] {
  display: none;
}


/***************************/
        /*HERO*/
/***************************/
.hero-sec {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.imgs {
  display: flex;
}

.imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/***************************/
/*APP*/
/***************************/

.section {
  padding: 9.6rem 0;
}

.number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.app-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.app-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-img-box::before,
.app-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}


.app-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.app-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.app-img {
  width: 35%;
}

/***************************/
/*FOOD*/
/***************************/

.food {
  padding-left: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tags{
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.vegetarian {
  background-color: #51cf66;
}

.vegan {
  background-color: #94d82d;
}

.paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.food-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.food-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.food-img {
  width: 100%;

}

.recipes {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}


/***************************/
/*FOOTER*/
/***************************/

.footer {
  padding: 9.6rem 0;
  border-top: 1px solid #eee;
}

.footer-nav {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* Media Queries */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-one {
    font-size: 4.4rem;
  }

}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-two {
    font-size: 3.6rem;
  }

  .heading-three {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav {
    gap: 3.2rem;
  }

}